.quarter-circle-bottom-left{
     width: 100px;
     height: 100px;
     background: green;
     border-radius: 0 100px 0 0;
     -moz-border-radius: 0 100px 0 0;
     -webkit-border-radius: 0 100px 0 0;
}